.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    height: 100px;
    width: 100%;
    backdrop-filter: blur(80px);
    &__wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__logo {
        height: 45px;
        max-width: 178px;
        width: 100%;
    }
    &__nav {
        display: flex;
    }
    &__buttons {
        display: flex;
        width: 610px;
        justify-content: space-between;
        align-items: center;
        margin-right: 80px;
    }
    &__start,
    &__consult {
        height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        text-transform: uppercase;
        border-radius: 7px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
    }
    &__start {
        background-color: #005DFF;
        border: 1px solid #005DFF;
        &:hover {
            background: #fff;
            color: #161616;
        }
    }
    &__consult {
        color: #161616;
        border: 1px solid #161616;
        background: #fff;
    }
    &__lang {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__lang {
        cursor: pointer;
        position: relative;
        &:hover .header__choose-lang {
            display: flex;
        }
        &:hover svg #Контур_24 {
            fill: #005DFF;
        }
    }
    &__choose-lang {
        position: absolute;
        top: 70px;
        right: -40px;
        display: none;
        flex-direction: column;
        align-items: center;
        background: #161616;
        width: 120px;
        height: 90px;
        border-radius: 7px;
        color: #fff;
        font-size: 16px;
        line-height: 21px;
        padding: 15px 30px;
        & a {
            font-size: 16px;
            line-height: 21px;
            font-weight: 400;
            cursor: pointer;
            &:hover {
                font-weight: bold;
            }
        }
        &::before {
            position: absolute;
            top: -15px;
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 9.5px 18px 9.5px;
            border-color: transparent transparent #161616 transparent;
        }
    }
    &__mob-menu {
        width: 60px;
        height: 20px;
        &::before {
            content: "";
            width: 100%;
            height: 1px;
            border-radius: 7px;
            background: #161616;
        }
    }
}