@import "mixin";
@import "fonts";
@import "./elements/header";
@import "./elements/mobile";
@import "./elements/cookies";
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Zona Pro';
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

ul,
li {
    list-style: none;
    padding: 0;
}

button {
    border: none;
}